<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)">
                    <span class="glyphicon glyphicon-ok am-gly"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Profile</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid am-scroll">
        <label for="username">Username</label>
        <input class="form-control"
               readonly
               name="username"
               ng-model="model.user.username"
               id ="username"/>
        <label for="email">Email</label>
        <input class="form-control"
               name="email"
               placeholder="alice@wonderland.com"
               id ="email"
               type = "email"/>
        <label for="first_Name">First Name</label>
        <input class="form-control"
               name="firstName"
               ng-model="model.user.firstName"
               placeholder="First Name"
               id ="first_Name"/>
        <label for="last_Name">Last Name</label>
        <input class="form-control"
               name="lastName"
               ng-model="model.user.lastName"
               placeholder="Last Name"
               id ="last_Name"/>

        <a class="btn btn-primary btn-block btn-default"
           href="#!/user/{{model.user._id}}/website"
           role="button">Websites</a>
        <a class="btn btn-danger btn-block btn-default"
           href="#!/login"
           role="button">Logout</a>
        <a class="btn btn-danger btn-block btn-default"
           ng-click="model.unregister(model.user)"
           role="button">Unregister</a>
        <a class="btn btn-primary btn-block btn-default"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/profile/{{model.uid}}">
                        <span class="glyphicon glyphicon-user pull-right am-gly"></span>
                    </a>
                </li>

            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>