<div>
    <div class="container-fluid">
        <h1>Register</h1>
        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>
        <input  class="form-control"
                name="username"
                ng-model="user.username"
                placeholder="username"
                id ="username"/>
        <input class="form-control"
               name="password"
               ng-model="user.password"
               placeholder="password"
               id ="password"
               type = "password"/>
        <input class="form-control"
               name="verify_password"
               ng-model="user.verify_password"
               placeholder="verify password"
               id ="password1"
               type = "password"/>

        <a class="btn btn-primary btn-block btn-default"
           ng-click="model.registerUser(user)"
           role="button">Register</a>
        <a class="btn btn-danger btn-block btn-default"
           href="#!/login"
           role="button">Cancel</a>
    </div>
</div>