<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left am-gly"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok am-gly"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Widget Edit</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid am-scroll">
        <label for="name">Name</label>
        <input  class="form-control"
                name="name"
                placeholder="Heading Name"
                ng-model="model.widget.name"
                id ="name"/>
        <label for="text">Text</label>
        <textarea class="form-control"
                  ng-model="model.widget.text"
                  rows="3"
                  name="text"
                  placeholder="Text"
                  id ="text"></textarea>
        <label for="size">Size</label>
        <select class="form-control am-bottom-margin"
                name="size"
                ng-model="model.widget.size"
                id ="size">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <a class="btn btn-danger btn-block btn-default"
           ng-click="model.deleteWidget(model.widget)"
           role="button">Delete</a>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/profile/{{model.uid}}">
                        <span class="glyphicon glyphicon-user pull-right am-gly"></span>
                    </a>
                </li>

            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>