<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <div class="navbar-text pull-left">
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                        <span class="glyphicon glyphicon-chevron-left am-gly"></span>
                    </a>
                </div>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Choose Widget</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid am-scroll">
        <ul class="list-group">
            <li class="list-group-item">
                <a ng-click="model.createWidget('HEADING')">
                    Header
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Label
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    HTML
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Text Input
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Link
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Button
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget('IMAGE')">
                    Image
                </a>
            </li>
            <li class="list-group-item">
                <a ng-click="model.createWidget('YOUTUBE')">
                    YouTube
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Data Table
                </a>
            </li>
            <li class="list-group-item">
                <a>
                    Repeater
                </a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/profile/{{model.uid}}">
                        <span class="glyphicon glyphicon-user pull-right am-gly"></span>
                    </a>
                </li>

            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>