<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                    <span class="glyphicon glyphicon-chevron-left am-gly"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)">
                    <span class="glyphicon glyphicon-ok am-gly"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">Widget Edit</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid am-scroll">
        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <label for="name">Name</label>
            <input  class="form-control"
                    name="name"
                    placeholder="Heading Name"
                    ng-model="model.widget.name"
                    id ="name"/>
            <label for="text">Text</label>
            <textarea class="form-control"
                      rows="3"
                      placeholder="Text"
                      ng-model="model.widget.text"
                      name="text"
                      id ="text"
            ></textarea>
            <label for="size">URL</label>
            <input  class="form-control"
                    name="url"
                    placeholder="URL"
                    ng-model="model.widget.url"
                    value="https://i.kinja-img.com/gawker-media/image"
                    id ="size"/>
            <label for="width">Width</label>
            <input  class="form-control"
                    name="width"
                    ng-model="model.widget.width"
                    value="100%"
                    id ="width"/>
            <label for="image">Upload</label>
            <input  name="myFile"    type="file" class="form-control" id ="image"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.uid}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.wid}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pid}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
            <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
            <a class="btn btn-danger btn-block btn-default"
               ng-click="model.deleteWidget(model.widget)"
               role="button">Delete</a>
        </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#!/profile/{{model.uid}}">
                        <span class="glyphicon glyphicon-user pull-right am-gly"></span>
                    </a>
                </li>

            </ul>
        </div><!-- /.container-fluid -->
    </nav>
</div>