input {
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #000;
}

.centered-wrapper {
    position: relative;
    text-align: center;
}

.centered-wrapper:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}

.centered-content {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}